<h1>Track Name: <%= @track.name %></h1>
<h2>Type: <%= @track.track_type %> </h2>
<h2>Lyric: </h2>
<p>
  <%= @track.lyric %>
</p>

<%= link_to "Add a new track", new_album_track_url(@track) %>
<%= link_to "Back to Album", album_url(@track.album) %>

<% if current_user %>
  <%= button_to "Logout", session_url, method: :delete %>
<% end %>
