<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <main>
    <% if flash[:errors] %>
      <% flash[:errors].each do %>
        <%= flash[:errors] %>
      <% end %>
    <% end %>
  </main>
  <body>
    <%= yield %>
  </body>
</html>
